[submodule "2DAM-gestion_servicios"]
	path = 2DAM-gestion_servicios
	url = https://github.com/Emanuel-Hosu/Tkinter-and-terminal-in-Python
[submodule "2DAM-Gestion-Servicios"]
	path = 2DAM-Gestion-Servicios
	url = https://github.com/Emanuel-Hosu/Tkinter-and-terminal-in-Python
